// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

#home-body {
    background-color: rgb(212, 212, 212);
}

#sidebar {
    width: 280px;
    min-width: 280px;
    height: 100vh;
}

#cont {
    display: flex;
}

main {
    font-family: monospace;
    font-size: large;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 2em;
}

#badges {
    margin: 0 auto;
    text-align: center;
}

#badges a {
    margin-right: 1em;
}


@media only screen and (max-width: 600px) {
    body{
        min-width: 278px;
    }

    #cont {
        display: block;
    }

    aside hr{
        display: none;
    }

    aside li{
        width: 100%;
    }

    .dropdown{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #sidebar {
        width: 100%;
        height: initial;
    }

    #sidebar-ul {
        flex-direction: row !important;
        justify-content: space-between;
    }
}